@import 'utils/animation';
@import 'utils/grid';
@import 'utils/title';
@import 'utils/variable';
@import 'components/header';
@import 'components/footer';

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  
  body{
    /*cursor: none;*/
    line-height: $lineheightContent;
    font-size: $fontsizeDesktop;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: overlay;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
  }
  
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  ::selection{
    color: $white;
    background: $orange;
    opacity: .2;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb{
    background: $darkgrey;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track{
    display: none;
  }

  .list{
    list-style: none;
  }

  .no-repeat{
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .loader{
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: $black;
    opacity: 1;
    animation: loader .5s 1.75s ease-out forwards;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
      color: $white;
      font-weight: bold;
      font-size: 3em;
      margin: auto;
      animation: loader .5s 1s ease-out forwards;
    }
  }
  
  .line{
    background-color: $lightblack;
    position: fixed;
    width: 2px;
    height: 0vh;
    top: 0;
    mix-blend-mode: difference;
    animation: line .75s ease-out forwards;
    &-1{
      left: 20vw;
    }
    &-2{
      left: 40vw;
      animation-delay: 0.15s;
    }
    &-3{
      left: 60vw;
      animation-delay: 0.3s;
    }
    &-4{
      left: 80vw;
      animation-delay: 0.45s;
    }
  }
  
  .section{
    overflow: hidden;
    &--intro{
      background-color: $black;
      background-image: url("../assets/images/space.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
  
      .container{
        height: 100vh;
        display: grid;
      }
    }
  
    &--content{
      background-color: $white;
    }

    &--mission{
      background-color: $black;
      height: 100vh;


      .container{
        margin-top: 144px;
        height: 100%;
        background-image: url("../assets/images/atlas-V.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        background-blend-mode: darken;
      }
    }
  }
  
  .img{
    //position: absolute;
    width: 100%;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //margin: 0 auto;
  }
  
  .container{
    position: relative;
    margin: 0 96px;
  }
  
  .card{
    visibility: hidden;
    position: relative;
    overflow: hidden;
    width: 18vw;
    height: 70vh;
  
    &__content{
      height: 100%;
      width: 100%;
      transform-origin: center 75%;
    }
  
    &__bg{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center 75%;
      transition: all .4s ease-out;
    }
  
    .card:hover &__bg{
      transform: scale(1.05);
      filter: brightness(0.5);
    }
  
    .card:hover &__body{
      opacity: 1;
    }
  
    &__body{
      position: absolute;
      bottom: 0;
      padding: 24px 48px;
      color: $white;
      opacity: 0;
      transition: opacity .4s ease-out;
    }
  }
  
  .flex{
    display: flex;
    gap: 48px;
  }
  
  .scroll{
    position: absolute;
    height: 36px;
    width: 22px;
    border: 2px solid $white;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 45px;
    border-radius: 20px;
  }
  
  .scroll::before{
    position: absolute;
    content: '';
    margin: auto;
    top: 8px;
    left: 0;
    right: 0;
    height: 8px;
    width: 4px;
    border-radius: 4px;
    background-color: $white;
    animation: scroll ease-in-out 2s infinite;
  }
  
  .scroll::after{
    position: absolute;
    content: 'Scroll';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: block;
    color: $white;
    left: -19px;
    bottom: -28px;
  }
  
  .btn--more{
    //background-color: $white;
    border: 2px solid $white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    animation: pulse 2.4s infinite;
    transition: transform .6s ease-out;
  }
  
  .btn__more:hover{
    transform: scale(1.05);
  }
  
  .current-page{
    position: absolute;
    bottom: 240px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    transform: rotate(-90deg);
  }
  
  .current-page::before{
    position: absolute;
    top: 12px;
    left: -72px;
    content: '';
    height: 2px;
    width: 48px;
    background-color: $white;
  }
  
  .current-page::after{
    position: absolute;
    top: 12px;
    right: -114px;
    content: '';
    height: 2px;
    width: 96px;
    background-color: $white;
  }
  
  .outline{
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px $orange;
  }
  
  .actif [data-name="Stroke"]{
    stroke: #872517;
  }
  
  .actif [data-name="Fill"]{
    stroke: #872517;
    fill: $orange;
  }
  
  .tabs{
    background-color: $black;
    color: $lightgrey;
  }
  
  .canvas{
    width: 15vw;
    height: 48px;
  }

  .btn{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: $fontsizeDesktop;

    &--instrument{
      display: flex;
      color: $lightgrey;
      font-size: 18px;
      padding: 12px 0;
    }
  }

  .btn--test{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-left: 2px solid $lightgrey;
    padding-left: 12px;

    span:nth-child(odd){
      letter-spacing: 1px;
      font-weight: 600;
    }

    span:nth-child(even){
      font-size: 14px;
    }
  }

  .number{
    letter-spacing: 1px;
    width: 26px;
    text-align: right;
    padding-right: 12px;
  }

  .instrument__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .pagination{
    text-align: right;
    letter-spacing: 1px;
    font-size: 22px;
    margin: auto 0;
  }

  .currentNumber{
    font-weight: 600;
    color: $white;
  }

  .p__instrument{
    height: 153px;
  }

  html, body, .wrapper, .panel{
    height: 100vh;
  }

  .wrapper{
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
  }

  .panel{
    width: 100%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jaune{
    background-color: #fca311;
  }

  .bleu{
    background-color: #1d3557;
  }

  .rouge{
    background-color: #ff0000;
  }

  .hidden{
    overflow: hidden;
    display: inline-block;
  }

  .hidden span{
    display: inline-block;
  }

  .square{
    height: 200px;
    width: 200px;
    background-color: $orange;
  }