@import 'utils/variable';

.footer{
    position: relative;
    background-color: #000;

    &__top, &__bottom{
        padding: 24px 0;
        align-items: center;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $lightblack;
        font-size: $fontsizeImage;
        margin: 0;
    }

    &__logo{
        display: inline-flex;

        img{
            height: 24px;
        }
    }

    a{
        font-family: 'Be Vietnam Pro', sans-serif;
        color: $white;
        text-decoration: none;
        padding: 12px 0;
        letter-spacing: 1px;
        font-weight: 300;
    }
}

.dwt{
    height: 18px;
}

.nav-left{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__element a{
        font-weight: 500;
    }
}

.nav-right{
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 650px){
    .nav-left{
        &__list{
            flex-direction: row;
        }
    }

    .nav-right{
        &__list{
            justify-content: flex-end;
            gap: 24px;
        }
    }
}

@media (min-width: 1300px){
    .nav-left{
        &__list{
            gap: 48px;
        }
    }

    .nav-right{
        &__list{
            gap: 48px;
        }
    }
}