@import 'utils/variable';

.header{
  position: fixed;
  top: 0;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 10;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 0 24px;

  a{
    display: flex;
  }

  &__logo{
    padding: 12px 0;
    height: 24px;
  }

  &__img{
    width: 24px;
    padding: 12px 0 12px 24px;
  }
}

.grid{
  background-blend-mode: normal;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 11;
  background-color: $black;
  right: -100%;
}

.nav{
  &__list{
      display: flex;
      flex-direction: column;
  }

  &__element{
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
    overflow: hidden;
    line-height: $lineheightTitle;
    display: inline-block;

    span{
      margin: 24px 0;
      overflow: hidden;
      display: block;
    }

    &--lien{
      font-size: $lgMobile;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      font-family: "Be Vietnam Pro", sans-serif;

      &:hover{
        color: $orange;
      }
    }

    &--actif{
      color: $black;
      text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;

      &:hover{
        color: $black;
        text-shadow: -1px -1px 0 $orange, 1px -1px 0 $orange, -1px 1px 0 $orange, 1px 1px 0 $orange;
      }
    }
  }
}

body[data-menu]{
    .header{
      mix-blend-mode: normal;
    }

    .grid{
      right: 0%;
    }
}

.contenu__hidden{
  overflow: hidden;
  height: $xxlMobile;
  display: flex;
  color: $orange;
  font-weight: 900;
  font-size: $xxlMobile;
  line-height: $lineheightTitle;
}

.contenu__hidden span{
  margin: 0;
  padding: 0;
}

@media(min-width: 650px){
  .menu{
    margin: 24px 48px 0 48px;
  }

  .nav{
    &__element{
      &--lien{
        font-size: $lgTablet;
      }
    }
  }

  .contenu__hidden{
    height: $xxlTablet;
    font-size: $xxlTablet;
  }
}

@media(min-width: 1300px){
  .menu{
    margin: 24px 96px 0 96px;
  }

  .nav{
    &__element{
      &--lien{
        font-size: $lgDesktop;
      }
    }
  }

  .contenu__hidden{
    height: $xxlDesktop;
    font-size: $xxlDesktop;
  }
}

@media(min-width: 1921px){
  .menu{
    max-width: 1920px;
    margin: 0 auto;
  }
}