@import 'utils/variable';

.header{
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 10;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 96px 0 96px;

  &__logo{
    margin: 12px 0;
    height: 24px;
  }

  &__text{
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: $fontsizeImage;
  }

  &__img{
    width: 24px;
    padding: auto 0;
  }
}

.grid{
  background-blend-mode: normal;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 11;
  background-color: $black;
  right: -100vw;
  transition: right .3s ease-out;
}

.nav{
  &__list{
      display: flex;
      flex-direction: column;
  }

  &__element{
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
    overflow: hidden;
    line-height: $lineheightTitle;
    display: inline-block;

    &--lien{
      font-size: $lgDesktop;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      font-family: "Be Vietnam Pro", sans-serif;

      &:hover{
        color: $lightgrey;
      }
    }

    &--actif{
      color: transparent;
      -webkit-text-stroke: 1px $white;
    }
  }
}

body[data-menu]{
    .header{
      mix-blend-mode: normal;
    }

    .grid{
      mix-blend-mode: normal;
      right: 0vw;
      //transition: right .3s ease-out;
    }
}

.contenu__hidden{
  overflow: hidden;
  height: $xxlDesktop;
  display: flex;
  color: $orange;
  font-weight: 900;
  font-size: $xxlDesktop;
  line-height: $lineheightTitle;
}

.contenu__hidden span{
  margin: 0;
  padding: 0;
}