@import 'utils/variable';

.title{
    line-height: $lineheightTitle;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    
    &--small{
        margin-bottom: 24px;
    }

    &--medium{
        margin-bottom: 48px;
    }

    &--extralarge{
        text-transform: uppercase;
    }
}