$black: #080808;
$lightblack: #141414;
$darkgrey: #474747;
$lightgrey: #B8B8B8;
$white: #FFF;
$orange: #D44421;

$lineheightTitle: 1;
$lineheightContent: 1.7;

$rapportMobile: 1.2;
$fontsizeMobile: 1.6rem;

$rapportDesktop: 1.2;
$fontsizeDesktop: 1.8rem;
$fontsizeImage: 1.4rem;


button{
  font-size: $fontsizeMobile;
}

p{
  font-size: $fontsizeMobile;
}

.title--small{
  font-size: $fontsizeMobile * $rapportMobile;
}

.title--medium{
  font-size: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile;
}

.title--large{
  font-size: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile;
}

.title--extralarge{
  font-size: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile;
}

@media(min-width : 767px){
  p{
    font-size: $fontsizeDesktop;
  }

  .title--small{
    font-size: $fontsizeDesktop * $rapportDesktop;
  }

  .title--medium{
    font-size: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
  }

  .title--large{
    font-size: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
  }

  .title--extralarge{
    font-size: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
  }
}