$black: #080808;
$lightblack: #141414;
$darkgrey: #474747;
$lightgrey: #B8B8B8;
$white: #FFF;
$orange: #D44421;
$blue: #2BBBDE;

$lineheightTitle: 1;
$lineheightContent: 1.6;
$fontsizeImage: 1.4rem;

$rapportMobile: 1.236;
$fontsizeMobile: 1.6rem;

$smMobile: $fontsizeMobile * $rapportMobile;
$mdMobile: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile;
$lgMobile: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile;
$xlMobile: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile;
$xxlMobile: $fontsizeMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile * $rapportMobile;

$rapportDesktop: 1.236;
$fontsizeDesktop: 1.8rem;

$smDesktop: $fontsizeDesktop * $rapportDesktop;
$mdDesktop: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
$lgDesktop: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
$xlDesktop: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;
$xxlDesktop: $fontsizeDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop * $rapportDesktop;

button{
  font-size: $fontsizeMobile;
}

p{
  font-size: $fontsizeMobile;
}

.title--small{
  font-size: $smMobile;
}

.title--medium{
  font-size: $mdMobile;
}

.title--large{
  font-size: $lgMobile;
}

.title--extralarge{
  font-size: $xlMobile;
}

@media(min-width : 767px){
  p{
    font-size: $fontsizeDesktop;
  }

  .title--small{
    font-size: $smDesktop;
  }

  .title--medium{
    font-size: $mdDesktop;
  }

  .title--large{
    font-size: $lgDesktop;
  }

  .title--extralarge{
    font-size: $xlDesktop;
  }
}