$black: #080808;
$lightblack: #141414;
$darkgrey: #474747;
$lightgrey: #B8B8B8;
$white: #FFF;
$orange: #D44421;
$blue: #2BBBDE;

$lineheightTitle: 1;
$lineheightContent: 1.6;
$fontsizeImage: 1.4rem;

$rapportHierarchique: 1.236;

$fontsizeMobile: 1.6rem;
$fontsizeTablet: 1.7rem;
$fontsizeDesktop: 1.8rem;

$smMobile: $fontsizeMobile * $rapportHierarchique;
$mdMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xxlMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;

$smTablet: $fontsizeTablet * $rapportHierarchique;
$mdTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xxlTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;

$smDesktop: $fontsizeDesktop * $rapportHierarchique;
$mdDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xxlDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;

body, button{
  font-size: $fontsizeMobile;
}

.title--small{
  font-size: $smMobile;
}

.title--medium{
  font-size: $mdMobile;
}

.title--large{
  font-size: $lgMobile;
}

.title--extralarge{
  font-size: $xlMobile;
}

@media(min-width: 650px){
  body, button{
    font-size: $fontsizeTablet;
  }

  .title--small{
    font-size: $smTablet;
  }

  .title--medium{
    font-size: $mdTablet;
  }

  .title--large{
    font-size: $lgTablet;
  }

  .title--extralarge{
    font-size: $xlTablet;
  }
}

@media(min-width: 1300px){
  body, button{
    font-size: $fontsizeDesktop;
  }

  .title--small{
    font-size: $smDesktop;
  }

  .title--medium{
    font-size: $mdDesktop;
  }

  .title--large{
    font-size: $lgDesktop;
  }

  .title--extralarge{
    font-size: $xlDesktop;
  }
}